google-genai
pydantic
pypdf
firebase-admin
google-auth
pytest
fastapi
uvicorn
python-multipart
httpx
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-gcp-trace
opentelemetry-resourcedetector-gcp
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-httpx
